nav#navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav#navbar ul li {
  margin: 5px 0px;
  float: left;
  margin-left: 10px;
}

nav#navbar ul li a {
  display: block;
  background-color: green;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  width: 100px;
  padding: 10px 0 8px 0;
  border-radius: 4px;
}

nav#navbar ul li a:hover {
  background-color: #ccc;
  color: #000;
}

/* index CSS */

#map{
  height: 400px;
  width: 700px;
  background-color: grey;
}

#page1 h1 {
  font-size: 2em;
  font-weight: bold;
}

#page1 #a {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: bold;
}

#page1 #b {
  margin-top: 5px;
  margin-bottom: 5px;
}

#page1 #c {
  margin-top: 20px;
}

#page1 #d {
  margin-top: 20px;
}

#page1 #font {
  font-style: italic;
  font-weight: bold;
}

#page1 #fontone {
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 75px;
}

.color1 {
  color: red;
}

.color2 {
  color: orange;
}

.color3 {
  color: yellow;
}

.color4 {
  color: green;
}

.color5 {
  color: blue;
}

.color6 {
  color: purple;
}

.color7 {
  color: indigo;
}

.color8 {
  color: pink;
}

.color9 {
  color: teal;
}

.color10 {
  color: turquoise;
}

.color11 {
  color: gray;
}

#page1 {
  font-family: 'Ubuntu', sans-serif;
}

/* aboutme CSS */

.firstchar {
  color: gray;
  font-weight: bold;
  font-size: 1.5em;
  position: relative;
  top: 3px;
}

#gamelist {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
}

#page2 #text {
  font-weight: bold;
  font-size: 2em;
  font-style: italic;
  text-decoration: underline;
}

.colorone {
  color: gold;
}

.colortwo {
  color: red;
}

#page2 #font {
  font-style: italic;
  font-weight: bold;
  font-size: 2em;
  margin-top: 20px;
}

#page2 .fontone {
  font-weight: bold;
  font-size: 1.5em;
  font-style: italic;
}

#page2 .fonttwo {
  font-weight: bold;
}

#page2 h1, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}
      
#page2 p {
  font-family: 'Noto Sans', sans-serif;
}  

#page2 ul {  
  font-family: 'Cabin', sans-serif;
}

#page2 #fixedbox {
  width: 100px;
  height: 145px;
  position: fixed;
  bottom: 20px;
  right: 40px;
}

#page2 #a {
  margin-left: 20px;
  line-height: 150%;
}

#page2 #b {
  margin-left: 20px;
  line-height: 150%;
}

/* resume CSS */

#page3 .text {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.2em;
}

#page3 .textone {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

#page3 .texttwo {
  text-decoration: underline;
}

#page3 #font {
  font-style: italic;
  font-weight: bold;
  font-size: 2.2em;
  margin-top: 20px;
}

#page3 #fontone {
  font-weight: bold;
  font-size: 1.2em;
}

#page3 #fonttwo {
  font-style: italic;
  font-weight: bold;
  line-height: 125%;
}

#page3 h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

#page3 p, ul {
  font-family: 'Roboto Condensed', sans-serif;
}

#page3 {
  text-align: center;
}

#page3 #a, #b, #c, #d, #e {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 125%;
}

#page3 #f, #g, #h {
  line-height: 125%;
}

#page3 #fixedbox {
  width: 100px;
  height: 145px;
  position: fixed;
  top: 20px;
  right: 40px;
}