nav#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav#navbar ul li {
  display: inline;
  margin: 10px 10px 0 0;
}

nav#navbar ul li a {
	display: inline-block;
  text-align: center;
	font-size: 20px;
	color: white;
	text-decoration: none;
	font-weight: bold;
  background-color: green;
  width: 150px;
  padding: 10px 0 8px 0;
  border-radius: 6px;
  margin-top: 10px;
}

nav#navbar ul li a:hover {
	background-color: #ccc;
	color: white;
}

/* index CSS */

#page1 #navi {
  width: 500px;
  margin: 0 auto;
}

#map{
  height: 400px;
  width: 700px;
  background-color: grey;
  margin: 0 auto 0 auto;
}

#page1 h1 {
  font-size: 2em;
  font-weight: bold;
}

#page1 #a {
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: bold;
}

#page1 #b {
  margin-top: 5px;
  margin-bottom: 5px;
}

#page1 #c {
  margin-top: 20px;
}

#page1 #d {
  margin-top: 20px;
}

#page1 #font {
  font-style: italic;
  font-weight: bold;
}

#page1 #fontone {
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 25px;
}

.color1 {
  color: red;
}

.color2 {
  color: orange;
}

.color3 {
  color: yellow;
}

.color4 {
  color: green;
}

.color5 {
  color: blue;
}

.color6 {
  color: purple;
}

.color7 {
  color: indigo;
}

.color8 {
  color: pink;
}

.color9 {
  color: teal;
}

.color10 {
  color: turquoise;
}

.color11 {
  color: gray;
}

#page1 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

/* aboutme CSS */

#page2 #navi {
  width: 500px;
  margin: 0 auto;
}

.firstchar {
  color: gray;
  font-weight: bold;
  font-size: 1.5em;
  position: relative;
  top: 3px;
}

#gamelist {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
}

#page2 #text {
  font-weight: bold;
  font-size: 2em;
  font-style: italic;
  text-decoration: underline;
  margin-left: 10px;
}

.colorone {
  color: gold;
}

.colortwo {
  color: red;
}

#page2 #font {
  font-style: italic;
  font-weight: bold;
  font-size: 2em;
  margin-top: 20px;
  margin-left: 10px;
}

#page2 .fontone {
  font-weight: bold;
  font-size: 1.5em;
  font-style: italic;
  margin-left: 10px;
}

#page2 .fonttwo {
  font-weight: bold;
}

#page2 h1, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}
      
#page2 p {
  font-family: 'Noto Sans', sans-serif;
}  

#page2 ul {  
  font-family: 'Cabin', sans-serif;
}

#page2 #a {
  margin-left: 25px;
  line-height: 150%;
}

#page2 #b {
  margin-left: 25px;
  line-height: 150%;
}

#page2 #pmarg1, #pmarg2, #pmarg3, #pmarg4 {
  margin-right: 20px;
}

#page2 #pics {
  margin-left: 10px;
  margin-right: 10px;
}

/* resume CSS */

#page3 #navi {
  width: 500px;
  margin: 0 auto;
}

#page3 .text {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.2em;
}

#page3 .textone {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

#page3 .texttwo {
  text-decoration: underline;
}

#page3 #font {
  font-style: italic;
  font-weight: bold;
  font-size: 2.2em;
  margin-top: 20px;
}

#page3 #fontone {
  font-weight: bold;
  font-size: 1.2em;
}

#page3 #fonttwo {
  font-style: italic;
  font-weight: bold;
  line-height: 125%;
}

#page3 h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

#page3 p, ul {
  font-family: 'Roboto Condensed', sans-serif;
}

#page3 {
  text-align: center;
}

#page3 #a, #b, #c, #d, #e {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 125%;
}

#page3 #f, #g, #h {
  line-height: 125%;
}